$bgColor: #efe1b0;
$bgcolorFooter:#55315d;
$contentColor: #fff;
$borderColor: #dbc064;
$headH1: #723c7f;
$button: #71a412;
$buttonShadow: #3a5606;
$banColler: #f5f2e5;
$blackFooterLink: black;
$blackFooterContent: #b2a16e;

$textColors: #654308;

//Size
$emailContentSize: 638px;
$promoSize: 250px;

body{
	background-color: $bgColor;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	width: 100%;
	padding: 0;
	margin: 0;
}
a.buttons{
	text-decoration: none;
	background-color: $button;
	color: $contentColor;
	text-shadow: 0 2px 2px $buttonShadow;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}
	a.buttons:hover{
	text-decoration: underline;
	}
p{
	color: $textColors;
}
h3{
	font-size: 16px;
}
.clearFix:after{
	content: "";
	display: block;
	clear: both;
	
}
#emailContent{
	width: $emailContentSize; 
	margin: auto;
	border-left: 1px solid $borderColor;
	border-right: 1px solid $borderColor;
}
.emailHeader{
	background-color: $contentColor;
	border-top: 1px solid $borderColor;
	.logo{
	padding: 10px 20px 0 30px;
	margin-left: -15px;
	}
	.emailHeadlin{
		h1{
			padding: 15px 5% 30px;
			line-height: 20px;
			margin: 0;
			font-weight: normal;
			font-size: 30px;
			color: $headH1;
		}
	}
}
// Banner

.emailBanner{
	background-color: $banColler;
	margin: 0;
	.emailOffText{
		background: $banColler url(../img/banner_large_ghost.jpg) no-repeat 0px 0px;
		padding: 30px 30px 10px 30px;
		margin-top: -5px;
	}
	a.buttons{
		display: inline-block;
		float: right;
		padding: 10px 15px 10px 15px;
		margin-top: 25px;
		margin-right: 50px;
	}
	.emailEnjoy{
		padding-left: 30px;
	}
	.emailAutograph{
		width: 90px;
		height: 40px;
		padding-left: 30px;

	}
}

// Promo
.emailPromo{
	background-color: $banColler;
}
.promo_1{
	float: left;
}
.promo_2{
	float: right;
}
.promo_1,
.promo_2{
	width: $promoSize;
	padding: 10px 30px 25px 30px;
}
img.promo{
	width: 100%;
	border-right: 1px solid $borderColor;
	border-left: 1px solid $borderColor;
}
// Callouts 
.emailCallouts{
	background-color: $bgcolorFooter;
	padding: 30px;
	.callOut{
		a.buttons{
			background-color: transparent;
			text-decoration: underline;
			text-shadow: none;
		}
		width: 135px;
		float: left;
		p{
			color: $contentColor;
			font-size: 13px;
		}
	}
}
// Footer
.emailFooter{
	border-bottom: 1px solid $borderColor;
	margin-bottom: 9px;
	p{
		color: $blackFooterContent;
	}
	a{
		color: $blackFooterLink; 
	}
	a:hover{
	text-decoration: none;
	}
	a:active{
		color: $blackFooterLink; 
	}
}
